.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.FormInput {
  background: #58DA84;
  box-shadow: 0px 4px 4px rgba(109, 248, 198, 1);
  border-radius: 20px;
}
.Projects {
  padding: 1vw;
  width: 300px;
  height: 150px;
  background: linear-gradient(105.18deg, #58DA84 27.78%, rgba(31, 167, 175, 0.85) 84.79%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 5vw;
}
.Presentation {
  background: linear-gradient(170.17deg, #4275C1 16.13%, rgba(48, 206, 216, 0) 92.61%, rgba(255, 255, 255, 0) 92.62%);
}
.Presentation h2 {
  color: white;
  font-family: 'Big Shoulders Stencil Display';
}
.Tools {
  justify-content: space-around ;
  margin: 5vw;
}
.ToolsStyle {
  border: 5px solid #83AEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 1vw;
  width: 300px;
  height: 150px;
}
.mainImage {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  color: white;
  font-family: 'Big Shoulders Stencil Display';
  font-weight: 200;
  font-size: xx-large;
}
.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  background-color: black;
  color: white;
  margin-top: 0%;
  padding: 1%;
  font-family: 'Big Shoulders Stencil Display';
  font-size: x-large;
}
.NavSpace {
  height: 5vw;
  width: 100%;
  background-color: black;
  color: white;
  top: 0%;
}

