.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.FormInput {
  background: #58DA84;
  box-shadow: 0px 4px 4px rgba(109, 248, 198, 1);
  border-radius: 20px;
  width: 20vw;
  margin: 1vw;
}
.Projects {
  padding: 2vw;
  width: 20vw;
  height: 150px;
  background: linear-gradient(105.18deg, #173cb6 27.78%, rgba(31, 167, 175, 0.85) 84.79%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 5vw;
}
.Projects:hover{
  cursor: pointer;
}
.Projects a{
  text-decoration: none;
  color:white;
}
.ProjectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Big Shoulders Stencil Display';
  width: 100%;
  margin: 0;
}
.Projects img {
  width: 10vw;
  height: 7vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px ;
}
.Tools {
  justify-content: space-around ;
  margin: 5vw;
}
.ToolsStyle {
  border: 5px solid #83AEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: rgb(54, 30, 190);
  padding: 1vw;
  width: 20vw;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.mainImage {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-image: url('https://cdn.pixabay.com/photo/2017/11/24/18/35/abstract-2975412__340.jpg');
  font-family: 'Josefin Slab', serif;
  font-size: 2.5vw;
  width: 100vw;
  right: 0%;
  left: 0%;
}
.mainImage h1 {
  color: rgb(255, 255, 255);
}
.Presentation1 {
  margin-top: 2%;
  color: rgb(22, 81, 190);
  font-size: x-large;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align:left;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 1.75vw;
}
.notes {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 75%
}
.notes img {
  display:flex;
  width: 15vw;
  height: 17vw;
  border-radius: 10%;
  margin: 2% 2%
}
.Nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  background: white;
  color: white;
  margin-top: 0%;
  padding: 1%;
  font-family: 'Big Shoulders Stencil Display';
  font-size: x-large;
}
.NavSpace {
  height: 5vw;
  width: 100%;
  background-color: black;
  color: white;
  top: 0%;
}
nav a {
  background-color: white ;
  height: 50vmin;
  max-width: 13em;
  max-height: 1.20em;
  color: black;
  padding: 0.75%;
  margin-left: 2%;
  border: 10px;
  border-radius: 35%;
  border-style: double;
  box-shadow: 3px 3px 5px 5px black;
}

h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-family: 'Big Shoulders Stencil Display';
  font-size: xx-large;
}

.ToolsContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Big Shoulders Stencil Display';
  margin: 10vw;
}
.ToolsContainer p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Josefin Slab', sans-serif;
  font-size: large;
  font-weight: 600;
  margin: 4px;
}
.Form{
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  width: 30vw;
}